
body
{
    font-family: 'Inter', sans-serif;
}

.container {
    margin: auto;
}

.dropdown:focus-within .dropdown-menu {
    display: block;
  }

  .swiper-container-flipped {
    transform: scaleX(-1);
}

.swiper-container-flipped .swiper-slide {
    transform: scaleX(-1);
}

.tilt-parent {
    perspective: 1000px; /* Apply to the parent container if needed */
}

.transition-all {
    transition: opacity 0.3s ease-in-out;
}

.triangle {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #00A1CC; /* Match the detail box background color */
    position: absolute;
    bottom: 100%; /* Position the triangle above the detail box */
    left: 50%;
    transform: translateX(-50%);
}

.bg-black-custom {
    background-color: #00A1CC !important; 
}


.earth {
  width: 40%;
  height: 80%;
  position: absolute;
  top: 7%;
  bottom: 0;
  left: 50%;
  /* right: 0; */
  margin: auto;
  background-image: url(../images/banner-bg.png);
  border-radius: 50%;
  background-size: cover;
  /* box-shadow: 0 0 20px 0px #f9f9f9 inset, 0 0 20px 2px #f9f9f9; */
  animation: animateEarth 180s linear infinite;
}

@keyframes animateEarth {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1400px 0;
  }
}


.diagonal-split-background {
  background-image: -webkit-linear-gradient(-7deg, #fff 42%, #00AACE 43%);
}